#message-container{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 40%;
    color: green;
    border: 1px solid black;
}
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 0.2em;
    
}